html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration-line: none;
}

li {
  list-style-type: none;
}

ul, ol {
  padding: 0;
}
