{% extends 'base.html' %}
{% block content %}
<main class='restaurant'>
    <h2>{{ restaurant.name }}</h2>
    <img src="{{ restaurant.image }}" alt="image of restaurant">
    <h3>{{ restaurant.description }}</h3>
    <h3>Opening Time: {{ restaurant.opening_time }}</h3>
    <h3>Closing Time: {{ restaurant.closing_time }}</h3>
    <h3>Address: {{ restaurant.address }}</h3>
    <h3>Number: {{ restaurant.phone }}</h3>
    

    
    {% if user.is_authenticated %}
      {% if restaurant.owner == user %}
      <p> <a href="{% url 'restaurant_edit' id=restaurant.pk %}">Edit restaurant details</a> </p>
        <!-- {% if restaurant.reservations.exists %}
          <ol>
            {% for reservation in restaurant.reservations.all %}
              <li>
                <p> <time datetime="{{ reservation.date_and_time }}">{{ reservation.date }} at {{ reservation.time }} </time> </p>
                <p> {{ reservation.user.profile.last_name }}, party of {{ reservation.party_size }} </p>
                {% if reservation.notes %}
                  <p class='notes'>{{ reservation.notes }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p>No upcoming reservations</p>
        {% endif %} -->
      {% endif %}

     

      {% if reservations %}
      <a href="{% url 'reservations_show' id=restaurant.pk %}">Reservations</a>
      <ol>
        {% for reservation in reservations %}
  
        <li>
              <p> <time datetime="{{ reservation.date_and_time }}">{{ reservation.date }} at {{ reservation.time }} </time> </p>
              <p> {{ reservation.user.profile.last_name }}, party of {{ reservation.party_size }} </p>
              {% if reservation.notes %}
                <p class='notes'>{{ reservation.notes }}</p>
              {% endif %}
        </li>
        {% endfor %}
      </ol>
      {% endif %}
      <form method='POST' action="{% url 'reservation_create' restaurant_id=restaurant.pk%}">
        {% csrf_token %}
        {{ reservation_form.as_p }}
        <input type="submit" value="Place reservation">
      </form>
    {% endif %}
</main>
{% endblock %}